$main-color: #333743;
$gray-color: #888;
$btn-primary-background: #230c22;
body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding-top: 81px;
    position: relative;
}

.text-big {
    font-size: 18px;
}

.section {
    padding: 40px 0;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 30px 10px;
    }
}

.navbar-brand {
    height: 80px;
    padding: 5px 15px 5px;
}

.navbar-custom {
    background-color: #fff;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-custom .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}

.nav > li {
    position: relative;
    &.active > a:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 20px;
        border-bottom: 3px solid black;
    }
    & > a {
        color: black;
        text-transform: uppercase;
    }
    & > a:focus,
    & > a:hover {
        background: none;
    }
}

.title-section {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color;
    span {
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            top: 50%;
            margin-top: -2px;
            border-top: 4px solid $main-color;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

.submit-title {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.form-control {
    border-color: #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    padding: 12px;
    height: 40px;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    &.btn-primary {
        background-color: $btn-primary-background;
        border-color: $btn-primary-background;
    }
}

.section-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.background-polygons {
        background-image: url('../images/background-polygons.jpg');
    }
}

.carousel-home {
    margin-bottom: 40px;
    .carousel-inner {
        margin-left: 60%;
        width: 40%;
    }
    .item {
        height: 480px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .carousel-picture {
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .carousel-indicators {
        left: 0;
        margin: 0;
        text-align: left;
    }
    .carousel-static {
        font-size: 18px;
        color: $main-color;
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-bottom: 50px;
        right: 40%;
        h2 {
            text-transform: uppercase;
            font-size: 36px;
            font-weight: bold;
        }
    }
}

.carousel-news {
    padding-bottom: 55px;
}

.carousel-control-simple {
    &.right,
    &.left {
        background: none;
        color: $main-color;
    }
    .icon-next,
    .icon-prev {
        font-size: 80px;
    }
}

.carousel-indicators {
    li {
        background-color: #c9c9c9;
    }
    li:not(:first-child) {
        margin-left: 10px;
    }
    .active {
        background-color: #929292;
        margin: 1px;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px #929292;
    }
}

.invest {
    &-item {
        border: 1px solid $gray-color;
        margin: 10px 0;
        display: inline-block;
        max-width: 100%;
        position: relative;
        text-align: left;
        & img {
            max-width: 100%;
            display: block;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        &.show-detail:hover {
            background-color: #dddddd;
            border-color: #888;
            cursor: default;
            .invest-link {
                transform: translate(0, 0);
                visibility: visible;
                opacity: 1;
            }
            .invest-caption {
                visibility: visible;
                opacity: 1;
            }
            .invest-close {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-link {
        width: 140px;
        padding: 10px 20px;
        margin-left: -60px;
        position: absolute;
        bottom: -20px;
        font-size: 14px;
        left: 50%;
        z-index: 2;
        color: #FFF;
        background-color: $main-color;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        transform: translate(0, 30px);
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
            color: #FFF;
        }
    }
    &-caption {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 100%;
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -6px;
        padding: 50px 20px 40px 20px;
        background-color: #fff;
        border: 1px solid $gray-color;
        border-top: none;
        color: #898989;
        opacity: 0;
        transition: all 0.2s ease;
        line-height: 1.6;
    }
    &-close {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px;
        font-size: 20px;
        line-height: 1;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:hover {
            cursor: pointer;
        }
    }
}

.section-lines {
    border-top: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;
    padding: 5px 0;
}

.order-button {
    color: $main-color;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    &:hover {
        color: $main-color;
        background-color: #E8E9EA;
        cursor: pointer;
        text-decoration: none;
    }
    &.active {
        background-color: $main-color;
        color: #fff;
    }
}

.team-member {
    &-title {
        margin-top: 0;
        font-size: 25px;
        color: #611668;
        font-weight: bold;
        text-transform: uppercase;
    }
    &-pic {
        background-color: #611668;
        width: 150px;
        height: 150px;
        display: table;
        border-radius: 50%;
        float: left;
        &-title {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 1.3;
            font-size: 25px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &-content {
        margin-left: 180px;
    }
}

.carousel-team {
    margin: 30px 0;
    .carousel-indicators {
        position: static;
        display: block;
        margin: 15px 0 0;
        text-align: center;
        width: 100%;
        li {
            width: 90px;
            height: 90px;
            text-indent: 0;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            background: none;
        }
    }
    .indicator-preview {
        width: 100%;
        height: 100%;
        display: table;
        table-layout: fixed;
        background-color: #ddd;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .indicator-title {
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .carousel-indicators li.active {
        .indicator-preview {
            background-color: #611668;
            box-shadow: 0 0 0 2px #fff, 0 0 0 3px #611668;
        }
        .indicator-title {
            color: #fff;
        }
    }
}

.news-item {
    font-size: 15px;
    &-time {
        font-size: 12px;
        color: $gray-color;
        font-style: italic;
    }
    &-title {
        font-weight: bold;
        line-height: 1.4;
    }
    &-readmore {
        color: $main-color;
        font-weight: bold;
    }
    a {
        color: inherit;
    }
}

.section-map {
    background-color: #f1f1f2;
    padding: 30px 0;
    -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
    box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
}

.footer-container {
    a {
        color: inherit!important;
    }
}

@media (max-width: 996px) {
    .carousel-home {
        .carousel-picture {
            background-size: contain;
        }
    }
}

@media (max-width: 768px) {
    .nav > li.active > a {
        text-decoration: underline;
        font-weight: bold;
        &:before {
            display: none;
        }
    }
    .team-member {
        &-content {
            margin: 0;
        }
        &-pic {
            float: none;
            display: none;
        }
    }
    .carousel-home {
        .carousel-inner {
            width: 100%;
            margin: 0;
        }
        .carousel-picture,
        .carousel-static {
            position: static;
            width: 100%;
        }
        .carousel-picture {
            height: 220px;
            background-size: auto 80%;
        }
        .carousel-caption,
        .item {
            height: auto;
        }
    }
}